/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 2.5em;
    line-height: 1;
    font-family: 'Inika', serif;
    background: url('/machinestories/img/squairy_light2.png');
}

p, pre {
    margin: 2em 0;
}
h1 {
    font-family: 'Lilita One', cursive;
    margin-bottom: 30px;
}

h1 span a {
    font-size: .5em;
    text-decoration: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.more {
    display: none;
    max-width: 800px;
}

.more p {
    font-size: .5em;
    font-family: georgia, serif;
    font-style: italic;
    margin-top: 0;
    color: #5F5F5F;
    line-height: 1.5em;
}

.show {
    display: block;
}

button {
    padding: 5px;
}

.adj {
    text-transform: capitalize;
}

.emo {
    text-transform: lowercase;
}

.more p:nth-child(2) {
    margin-bottom: 0;
}

.container {
    padding: 0 100px;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


 /*==================================================== 
******************************************************
/*  DEVICES greater than 980 pixels wide
******************************************************
====================================================== */

@media only screen and (min-width: 980px) {

}/*** end greater than 980 ***/


/*==================================================== 
******************************************************
/*  DEVICES greater than 1100 pixels wide
******************************************************
====================================================== */

@media only screen and (min-width: 1100px) {


}/*** end greater than 1100px ***/


/*==================================================== 
******************************************************
/*  DEVICES less than 1100 pixels wide
******************************************************
====================================================== */

@media only screen and (max-width: 1100px) {



}/**** end max width 1100 ****/


/*==================================================== 
******************************************************
/*  DEVICES less than 980 pixels wide
******************************************************
====================================================== */

@media only screen and (max-width: 980px) {
body {
font-size: 1.5em; 
}
.container {
    padding: 0 20px;
}
}/**** end max width 980 ****/

/*==================================================== 
******************************************************
/*  DEVICES less than 768 pixels wide
******************************************************
====================================================== */

@media only screen and (max-width: 768px) {


}/**** end max width 768 ****/


/*==================================================== 
******************************************************
/*  DEVICES less than 767 pixels wide 
******************************************************
====================================================== */
@media only screen and (max-width: 767px) {



}/**** end max width 767 ****/

/*==================================================== 
******************************************************
/*  DEVICES less than 500 pixels wide
******************************************************
====================================================== */
@media only screen and (max-width: 500px) {




}/**** end max width 500px ****/

/*==================================================== 
******************************************************
/*  DEVICES less than 600 pixels wide
******************************************************
====================================================== */
@media only screen and (max-width: 600px) {



}/**** end max width 600 ****/
